@model Exam.Backend.Models.MyOfficeAcpd

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MyOfficeAcpd</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AcpdSid" class="control-label"></label>
                <input asp-for="AcpdSid" class="form-control" />
                <span asp-validation-for="AcpdSid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdCname" class="control-label"></label>
                <input asp-for="AcpdCname" class="form-control" />
                <span asp-validation-for="AcpdCname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdEname" class="control-label"></label>
                <input asp-for="AcpdEname" class="form-control" />
                <span asp-validation-for="AcpdEname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdSname" class="control-label"></label>
                <input asp-for="AcpdSname" class="form-control" />
                <span asp-validation-for="AcpdSname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdEmail" class="control-label"></label>
                <input asp-for="AcpdEmail" class="form-control" />
                <span asp-validation-for="AcpdEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdStopMemo" class="control-label"></label>
                <input asp-for="AcpdStopMemo" class="form-control" />
                <span asp-validation-for="AcpdStopMemo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdLoginId" class="control-label"></label>
                <input asp-for="AcpdLoginId" class="form-control" />
                <span asp-validation-for="AcpdLoginId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdLoginPwd" class="control-label"></label>
                <input asp-for="AcpdLoginPwd" class="form-control" />
                <span asp-validation-for="AcpdLoginPwd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdMemo" class="control-label"></label>
                <input asp-for="AcpdMemo" class="form-control" />
                <span asp-validation-for="AcpdMemo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdNowId" class="control-label"></label>
                <input asp-for="AcpdNowId" class="form-control" />
                <span asp-validation-for="AcpdNowId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AcpdUpdid" class="control-label"></label>
                <input asp-for="AcpdUpdid" class="form-control" />
                <span asp-validation-for="AcpdUpdid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
